# Originaux non optimisés (remplacés par .webp)
images/heronew.png
images/avantbest.jpg
images/avant.jpg
images/apres.jpg
images/hero.jpg

# Non référencés dans le HTML
images/ComfyUI_temp_yhfhi_00001_.png
images/people.png
images/people2.png
images/people.svg
images/people2.svg
images/3de6f44e-d476-43fa-84d1-be3e7a9be260.jpg

.vercel
research/
fal-test.html
fal-pipeline.html
